main {
    display: flex;
    width: 100%;
}

.titule_indice {
    font-family: 'Sniglet', cursive;
    color: #352E37;
    font-weight: 400;
    font-size: 1.2em;
    margin: 20px;
}

.indice nav ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.indice nav ul li {
    padding: 15px;
    list-style-type: none;
    transition: 0.5s;
}

.indice nav ul li a {
        list-style-type: circle;

    color: #352e37;
    opacity: 75%;
    font-style: italic;
    text-decoration: underline;
    font-family: "Sansation", sans-serif;
    position: relative;

    
}

.indice nav ul li:hover {
    opacity: 0.93;
    transform: scale(0.99);
    transform: translateX(5%);
    background-color: #D5BEF2;

 }






h1 {
    font-family: 'Sniglet', cursive;
    color: #352E37;
    font-weight: 400;
    margin-top: 20px;
    padding-left: 15px;

}

.autor_data {
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 20px;
    font-family: "Sansation", sans-serif;
    color: #1D1D1D;
    margin-top: 15px;
    opacity: 70%;
}

.autor, .nome_autor {
    font-size: 4vh;
}

.nome_autor {
    font-weight: bold;
}

.data {
    padding-top: 5px;
    font-size: 20px;
}

.banner {
    margin-top: 15px;
}
.img_produto, .video_experiencia {
    width: 100%;
    
}

.art {
    padding: 10px;
}

.art h3 {
    color: #352E37;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
    font-size: 1.8em;
    padding: 2px;
}

.art p {
    font-family: "Sansation", sans-serif;
    font-size: 1.2em;
    color: #000000;
    text-align: justify;
    letter-spacing: 2.5px;
    padding: 5px;
    
}


@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
    }   

    .autor_data {
        gap: 20px;

    }

    .indice {
        background-color: #D5BEF2;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 7px auto;
    }


    .artigo {
        width: 90%;
        margin: 0;
    }

    
    .indice nav ul li {
        list-style-type: disc;
        list-style-position: inside;

    }

    .indice nav ul li::marker {
        color:#352E37;
    }


    .art p {
        letter-spacing: 1.5px;
    }
}
@media screen and (min-width: 769px) {

    .indice {
        position: sticky;
        top: 0; /* fixa no topo da viewport */
        align-self: flex-start; /* se estiver dentro de um flex container */
        padding: 15px 40px;
        width: 25%;
        z-index: 10; /* garante que fique acima de outros elementos */
    }
    .artigo {
        width: 75%;
        padding-right: 125px;
    }



    .indice nav ul li {
        border: solid #D5BEF2 1px;

    }

}
