/* Componente: Botões */
.return-page, .voltar-topo {
  transition: all 0.3s ease;
}

.return-page:hover, .voltar-topo:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px var(--shadow-color);
}