.indice nav ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.indice nav ul li {
    padding: 15px;
    list-style-type: none;
    transition: 0.5s;
}

.indice nav ul li a {
    color: #352e37;
    opacity: 75%;
    font-style: italic;
    text-decoration: underline;
    font-family: "Sansation", sans-serif;
    position: relative;
}

.indice nav ul li:hover {
    opacity: 0.93;
    transform: scale(0.99);
    transform: translateX(5%);
    background-color: #D5BEF2;
}

.indiceat {
    background-color: #D5BEF2;
    opacity: 0.93;
    transform: scale(0.99);
    transform: translateX(5%);
}

