html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    width: 100%;
}

.autor_data {
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 20px;
    margin-top: 15px;
}

.banner {
    margin-top: 15px;
}

.img_produto, .video_experiencia {
    width: 100%;
}

.art {
    padding: 10px;
}
