.titule_indice {
    font-family: 'Sniglet', cursive;
    color: #352E37;
    font-weight: 400;
    font-size: 1.2em;
    margin: 20px;
}

h1 {
    font-family: 'Sniglet', cursive;
    color: #352E37;
    font-weight: 400;
    margin-top: 20px;
    padding-left: 15px;
}

.autor_data {
    font-family: "Sansation", sans-serif;
    color: #1D1D1D;
    opacity: 70%;
}

.autor, .nome_autor {
    font-size: 4vh;
}

.nome_autor {
    font-weight: bold;
}

.data {
    padding-top: 5px;
    font-size: 20px;
}

.art h3 {
    color: #352E37;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
    font-size: 1.8em;
    padding: 2px;
}

.art p {
    font-family: "Sansation", sans-serif;
    font-size: 1.2em;
    color: #000000;
    text-align: justify;
    letter-spacing: 2.5px;
    padding: 5px;
}
